MONGODB_ATLAS_CONNECTION_STRING=your_mongodb_connection_string
NEXT_PUBLIC_AUTH0_DOMAIN=your_auth0_domain
NEXT_PUBLIC_AUTH0_CLIENT_ID=your_auth0_spa_client_id
NEXT_PUBLIC_AUTH0_AUDIENCE=your_auth0_api_audience
